body {
  background-image: linear-gradient(#99c9e9 0%, #cfe8fc 100%);
  font-family: "Yantramanav", sans-serif;
}
.container {
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
}

.heading {
  border-radius: 90px;
  background: radial-gradient(#fbfd8a, #a1ceed);
  text-transform: capitalize;
  padding: 22px 20px 10px 20px;
  margin-top: 30px;
}

.city {
  font-weight: 500;
}

.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
h2 {
  font-size: 25px;
  line-height: 40px;
  margin-bottom: 25px;
}

h3 {
  position: relative;
  margin: -20px 0px 0px 2px;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
}

.lastUpdated {
  font-weight: 300;
}

ul {
  list-style: none;
}

.col-1 {
  border-radius: 20px;
  position: relative;
  padding: 15px 50px 5px;
  margin: 7px 0px 30px;
  background-image: radial-gradient(
    farthest-corner at 10px 10px,
    #fbfd8a 0%,
    #a1ceed 55%
  );
}

#nightTime {
  background-image: radial-gradient(
    farthest-corner at 10px 10px,
    #f79060 0%,
    #7995a8 55%
  );
}

#time {
  position: relative;
  margin-left: -50px;
  font-size: 18px;
  line-height: 5px;
}

#img {
  position: relative;
  margin-left: -50px;
}

#degreesTemp {
  position: relative;
  margin-right: -50px;
  font-size: 15px;
}

.hourForecast {
  position: relative;
  margin: 20px 40px -5px -30px;
  text-align: left;
}

#searchEngine {
}
